*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.container{
    width:100%;
    height: 100vh;
    background: rgb(248, 233, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgb(109, 107, 107);
    padding: 20px;
    border-radius: 10px'
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: rgb(254, 253, 253);
    cursor: pointer;
    margin: 10px;
}
form .displays{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .displays input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.different{
    color: rgb(111, 222, 247);
}
form input.equal{
    color: rgb(245, 239, 124);
    width: 145px;
}
